<div class="item">
	<div>
		<img src="{{ item.itemIconURL }}"/>
	</div>
	<div>
		<p class="title">{{ item.name }}</p>
		<p class="cost">Cost: {{ item.price }}</p>
		{% for i_desc in item.itemDescriptor %}
			<p><span>{{ i_desc.value }}</span> <span>{{ i_desc.description }}</span></p>
		{% endfor %}
	</div>
</div>