{# ItemBundle/Resources/views/index.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Smite.link : Items{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@ItemBundle/Resources/public/js/item_categories.js*' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %} 
{% endblock %}


{% block body %}
	<h1 class="page-header">Item List</h1>
	<div class="page_header">
		<h3 id="page_title">Item List</h3>
		<div id="item_categories" align="right">
			<div class="category">
				<p class="title">Tier</p>
				<input type="checkbox" name="tier1" id="category_tier0" checked>Starter</input>
				<input type="checkbox" name="tier1" id="category_tier1">1</input>
				<input type="checkbox" name="tier2" id="category_tier2">2</input>
				<input type="checkbox" name="tier3" id="category_tier3">3</input>
			</div>
			<div class="category">
				<p class="title">Type</p>
			<input type="checkbox" name="item" id="category_item" checked>Item</input>
			<input type="checkbox" name="active" id="category_active">Active</input>
			<input type="checkbox" name="consumable" id="category_consumable">Consumable</input>
			</div>
		</div>
	</div>
	<div id="items">
		<div class="item_row row_head">
			<span class="icon"></span>
			<span class="name">Name</span>
			<span class="description">Description</span>
			<span class="price">Price</span>
		</div>
		<div id="item_main">
		</div>
	</div>
	
	{% for item in items %}
		<script>addItem("{{ item.name }}", "{{ item.short_description }}", {{ item.price }}, {{ item.tier }}, "{{ item.item_icon_URL }}", "{{ item.type }}", "{{ item.id }}", "{{ item.starting_item }}")</script>
	{% endfor %}
{% endblock %}