{# GodBundle/Resources/views/god.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Smite.link : {{ god.name }} {% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@GodBundle/Resources/public/js/god.js*' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %} 
{% endblock %}

{% block sidebar %}
	{% include "GodBundle:Layout:sidebar_god.html.twig" %}
	<script>domReady($('#sidebar-god-overview').addClass('active'))</script>
{% endblock %}

{% block body %}
	<h1 class="page-header"><span itemprop="name">{{ god.name }} - {{ god.title }}</span></h1>
	<div id="god_base" class="container col-sm-12">	
		{% include "GodBundle:god:sidebar.html.twig" %}
		<div class="col-sm-9" id="tab_nav_main_0">		
			{% include "GodBundle:god:abilities.html.twig" %}
			<div class="segment col-sm-12" id="god_main_lore">
				<h2>Lore</h2>
				<div>{{ god.lore|raw }}</div>
			</div>
		</div>
		<div class="hidden col-sm-9" id="tab_nav_main_1">		
			{% include "GodBundle:god:popular.html.twig" %}	
			<div class="segment">
				<div id="god_default_items">
					<h2>Default Items</h2>
				</div>
			</div>
		</div>
	</div>
	<script>
	{% for r_item in recommendedItems %}
		addDefaultItem('{{ r_item.category }}', '{{ r_item.item_id }}', '{{ r_item.item_name }}');
	{% endfor %}
	</script>
{% endblock %}