<div class="segment col-sm-12" id="god_main_abilities">
	<h2>Abilities</h2>
	<div class="container col-sm-12">
		<div class="container col-sm-12">
			<div class="col-sm-11">
				<h3 class="col-sm-12">{{ god.ability_id_5.summary }}</h3>
				<p class="col-sm-12">Passive</p>
				<p class="col-sm-12">No cooldown</p>
			</div>
			<img class="col-sm-1" src="{{ god.ability_id_5.url }}"/>
		</div>
		<p class="col-sm-12" class="description">{{ god.ability_id_5.description }}</p>
	</div>
	<div class="container col-sm-12">
		<div class="container col-sm-12">
			<div class="col-sm-11">
				<h3 class="col-sm-12">{{ god.ability_id_1.summary }}</h3>
				<p class="col-sm-12">Mana: {{ god.ability_id_1.cost }}</p>
				<p class="col-sm-12">Cooldown: {{ god.ability_id_1.cooldown }}</p>
			</div>
			<img class="col-sm-1" src="{{ god.ability_id_1.url }}">
		</div>
		<p class="col-sm-12">{{ god.ability_id_1.description }}</p>
	</div>
	<div class="container col-sm-12">
		<div class="container col-sm-12">
			<div class="col-sm-11">
				<h3 class="col-sm-12">{{ god.ability_id_2.summary }}</h3>
				<p class="col-sm-12">Mana: {{ god.ability_id_2.cost }}</p>
				<p class="col-sm-12">Cooldown: {{ god.ability_id_2.cooldown }}</p>
			</div>
			<img class="col-sm-1" src="{{ god.ability_id_2.url }}">
		</div>
		<p class="col-sm-12">{{ god.ability_id_2.description }}</p>
	</div>
	<div class="container col-sm-12">
		<div class="container col-sm-12">
			<div class="col-sm-11">
				<h3 class="col-sm-12">{{ god.ability_id_3.summary }}</h3>
				<p class="col-sm-12">Mana: {{ god.ability_id_3.cost }}</p>
				<p class="col-sm-12">Cooldown: {{ god.ability_id_3.cooldown }}</p>
			</div>
			<img class="col-sm-1" src="{{ god.ability_id_3.url }}">
		</div>
		<p class="col-sm-12">{{ god.ability_id_3.description }}</p>
	</div>
	<div class="container col-sm-12">
		<div class="container col-sm-12">
			<div class="col-sm-11">
				<h3 class="col-sm-12">{{ god.ability_id_4.summary }}</h3>
				<p class="col-sm-12">Mana: {{ god.ability_id_4.cost }}</p>
				<p class="col-sm-12">Cooldown: {{ god.ability_id_4.cooldown }}</p>
			</div>
			<img class="col-sm-1" src="{{ god.ability_id_4.url }}">
		</div>
		<p class="col-sm-12">{{ god.ability_id_4.description }}</p>
	</div>
</div>