<div id="god_sidebar" class="container col-sm-3">
	<img itemprop="image" src="{{ god.god_card_url }}" class="col-sm-12"/>
	<h2 class="col-sm-12">{{ god.name }}</h2>
	<h3 class="col-sm-12">{{ god.title }}</h3>
	<div class="container col-sm-12">
		<p class="col-sm-6">Pantheon</p><p class="col-sm-6">{{ god.pantheon }}</p>
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">Role</p><p class="col-sm-6">{{ god.role }}</p>
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">Type</p><p class="col-sm-6">{{ god.type }}</p>
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">Pros</p><p class="col-sm-6">{{ god.pros }}</p>
	</div>
	<h3 class="col-sm-12">Base Stats</h3>
	<div class="container col-sm-12">
		<p class="col-sm-6">Attack Speed</p><p class="col-sm-6">{{ god.god_stats_id.attack_speed }} (+{{ god.god_stats_id.attack_speed_per_level }})</p>
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">Health</p><p class="col-sm-6">{{ god.god_stats_id.health }} (+{{ god.god_stats_id.health_per_level }})</p>
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">Mana</p><p class="col-sm-6">{{ god.god_stats_id.mana }} (+{{ god.god_stats_id.mana_per_level }})</p>
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">HP5</p><p class="col-sm-6">{{ god.god_stats_id.health_per_five }} (+{{ god.god_stats_id.HP5_per_level }})</p>
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">MP5</p><p class="col-sm-6">{{ god.god_stats_id.mana_per_5 }} (+{{ god.god_stats_id.mp5_per_level }})</p>
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">Physical/Magical Power</p><p class="col-sm-6">
		{% if god.god_stats_id.physical_power == 0 %}
			{{ god.god_stats_id.magical_power }} (+{{ god.god_stats_id.magical_power_per_level }})</p>
		{% else %}		
			{{ god.god_stats_id.physical_power }} (+{{ god.god_stats_id.physical_power_per_level }})</p>
			{% endif %}
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">Physical Protection</p><p class="col-sm-6">{{ god.god_stats_id.physical_protection }} (+{{ god.god_stats_id.physical_protection_per_level }})</p>
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">Magical Protection</p><p class="col-sm-6">{{ god.god_stats_id.magic_protection }} (+{{ god.god_stats_id.magic_protection_per_level }})</p>
	</div>
	<div class="container col-sm-12">
		<p class="col-sm-6">Movement Speed</p><p class="col-sm-6">{{ god.god_stats_id.speed }}</p>
	</div>
</div>