{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path("fos_user_registration_register") }}" method="post" class="form-signin col-sm-3">
	<h2 class="form-signin-heading">Register</h2>
	<input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{ form._token.vars['value'] }}" />

	<label for="fos_user_registration_form_email" class="required sr-only">{{ 'form.email'|trans }}</label>
	<input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class="form-control" placeholder="{{ 'form.email'|trans }}"/>

	<label for="fos_user_registration_form_username" class="required sr-only">{{ 'form.username'|trans }}</label>
	<input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}" class="form-control" placeholder="{{ 'form.username'|trans }}"/>

	<label for="fos_user_registration_form_plainPassword_first" class="required sr-only">{{ 'form.password'|trans }}</label>
	<input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" class="form-control" placeholder="{{ 'form.password'|trans }}"/>	
	
	<label for="fos_user_registration_form_plainPassword_second" class="required sr-only">{{ 'form.password_confirmation'|trans }}</label>
	<input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" class="form-control" placeholder="{{ 'form.password_confirmation'|trans }}"/>
		
	<input type="submit" value="{{ 'registration.submit'|trans }}"/>	
</form>