{# GodBundle/Resources/views/tierlist.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Smite.link : Tier List{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@GodBundle/Resources/public/js/tierlist.js*' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %} 
{% endblock %}

{% block sidebar %}
	{% include "GodBundle:Layout:sidebar_tierlist.html.twig" %}
	<script>domReady($('#sidebar-tierlist-overview').addClass('active'))</script>
{% endblock %}

{% block body %}
	<h1 class="page-header">Aggregate Tierlist</h1>
	<div class="segment page-overview">
		<p>Smite.Link provides the option to create your own tierlists. From your lists, we can derive a tierlist aggregated from this data. Consider this the average tier representation of all Smite.LINK users.</p>
		<p>This tierlist is generated on a rolling basis; older lists old lesser weighting. Please bear in mind in periods shortly after major game changes and god balances this list may no longer be an accurate representation of the game state.</p>
	</div>
	{% include "GodBundle:Tierlist:aggregate_content.html.twig" %}
	{% for god in tierList %}
		<script>addGodToAggregateTierList({{ god.id }}, "{{ god.name }}", "{{ god.god_icon_url }}", {{ god.magnitude }})</script>
	{% endfor %}
{% endblock %}
