{# GodBundle/Resources/views/Tierlist/my.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Smite.link : Tier List{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@GodBundle/Resources/public/js/tierlist.js*' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %} 
{% endblock %}

{% block sidebar %}
	{% include "GodBundle:Layout:sidebar_tierlist.html.twig" %}
	<script>domReady($('#sidebar-tierlist-own').addClass('active'))</script>
{% endblock %}

{% block body %}
	<h1 class="page-header">Tier List</h1>
	<div align=right>
		<label for="publicLink">Public link:</label><input type="text" name="publicLink" value="/t/u/{{ app.user.username }}"/>
	</div>
	{% include "GodBundle:Tierlist:saved_content.html.twig" %}
	{% for god in savedTier %}
		<script>addGodToSavedTierList({{ god.id }}, '{{ god.name }}', '{{ god.god_icon_url }}', {{ god.tier_level }})</script>
	{% endfor %}
{% endblock %}
