{# GodBundle/Resources/views/Tierlist/create.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Smite.link : Tier List{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@GodBundle/Resources/public/js/tierlist.js*' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %} 
{% endblock %}

{% block sidebar %}
	{% include "GodBundle:Layout:sidebar_tierlist.html.twig" %}
	<script>domReady($('#sidebar-tierlist-own-new').addClass('active'))</script>
{% endblock %}

{% block body %}
	<h1 class="page-header">Tier List</h1>
	
	{% include "GodBundle:Tierlist:new_content.html.twig" %}	
	{% for god in godList %}
		<script>addGodToNewTierList({{ god.id }}, '{{ god.name }}', '{{ god.god_icon_url }}')</script>
	{% endfor %}
	
{% endblock %}
